<a href="https://colab.research.google.com/github/khaledICT/KhaledICT/blob/main/MWS_WDA_S24_Khaled_Rami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:

from google.colab import files


uploaded = files.upload()

Saving sales_data_sample.csv to sales_data_sample (1).csv

In [20]:
# Importing libraries
import numpy as np # type: ignore # linear algebra
import pandas as pd # type: ignore # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns # type: ignore
import plotly.express as px # type: ignore

In [21]:
df=pd.read_csv('sales_data_sample.csv',encoding='Latin-1')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERID           2823 non-null   int64
 1   QUANTITYORDER     2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCT           2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  PurchaseAddress   2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

,ORDERID,QUANTITYORDER,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PurchaseAddress,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [22]:
# Data Cleaning
# Convert columns names to lower case
df.columns = df.columns.str.lower()


# droping unnecessary columns
df.drop(columns=[ 'orderlinenumber','status', 'qtr_id','msrp', 'productcode','customername', 'phone','addressline2', 'state', 'postalcode', 'country', 'territory','contactlastname', 'contactfirstname', 'dealsize'], axis=1, inplace=True)
# Fixing worng data type
df['orderdate'] = pd.to_datetime(df['orderdate'])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   orderid          2823 non-null   int64
 1   quantityorder    2823 non-null   int64
 2   priceeach        2823 non-null   float64
 3   sales            2823 non-null   float64
 4   orderdate        2823 non-null   datetime64[ns]
 5   month_id         2823 non-null   int64
 6   year_id          2823 non-null   int64
 7   product          2823 non-null   object
 8   purchaseaddress  2823 non-null   object
 9   city             2823 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 220.7+ KB

,orderid,quantityorder,priceeach,sales,orderdate,month_id,year_id,product,purchaseaddress,city
0,10107,30,95.70,2871.00,2003-02-24,2,2003,Motorcycles,897 Long Airport Avenue,NYC
1,10121,34,81.35,2765.90,2003-05-07,5,2003,Motorcycles,59 rue de l'Abbaye,Reims
2,10134,41,94.74,3884.34,2003-07-01,7,2003,Motorcycles,27 rue du Colonel Pierre Avia,Paris
3,10145,45,83.26,3746.70,2003-08-25,8,2003,Motorcycles,78934 Hillside Dr.,Pasadena
4,10159,49,100.00,5205.27,2003-10-10,10,2003,Motorcycles,7734 Strong St.,San Francisco

In [23]:
# Handling Missing Values
df.isnull().sum()

orderid            0
quantityorder      0
priceeach          0
sales              0
orderdate          0
month_id           0
year_id            0
product            0
purchaseaddress    0
city               0
dtype: int64

In [24]:
df.describe()  # to get basic statistical information of categorical data

,orderid,quantityorder,priceeach,sales,orderdate,month_id,year_id
count,2823.000000,2823.000000,2823.000000,2823.000000,2823,2823.000000,2823.00000
mean,10258.725115,35.092809,83.658544,3553.889072,2004-05-11 00:16:49.989373056,7.092455,2003.81509
min,10100.000000,6.000000,26.880000,482.130000,2003-01-06 00:00:00,1.000000,2003.00000
25%,10180.000000,27.000000,68.860000,2203.430000,2003-11-06 12:00:00,4.000000,2003.00000
50%,10262.000000,35.000000,95.700000,3184.800000,2004-06-15 00:00:00,8.000000,2004.00000
75%,10333.500000,43.000000,100.000000,4508.000000,2004-11-17 12:00:00,11.000000,2004.00000
max,10425.000000,97.000000,100.000000,14082.800000,2005-05-31 00:00:00,12.000000,2005.00000
std,92.085478,9.741443,20.174277,1841.865106,NaN,3.656633,0.69967

In [25]:
# Total revenue generated.
# Sum of sales
Total_revenue=sum ( df['sales'] )
print(Total_revenue,"USD")

10032628.85000001 USD

In [26]:
# Total units sold for each product
# Sum of quantityorder for each product
df1 = df.groupby('product')['quantityorder'].sum().reset_index()
df1

            product  quantityorder
0      Classic Cars          33992
1       Motorcycles          11663
2            Planes          10727
3             Ships           8127
4            Trains           2712
5  Trucks and Buses          10777
6      Vintage Cars          21069

In [30]:
df_units=df.groupby('product')
avg_price_untis=df_units['priceeach'].mean()
print('avd_price_untis for each product')
print(avg_price_untis)

avd_price_untis for each product
product
Classic Cars        87.335781
Motorcycles         82.997553
Planes              81.740915
Ships               83.855470
Trains              75.654675
Trucks and Buses    87.527940
Vintage Cars        78.148204
Name: priceeach, dtype: float64 avd_price

In [31]:
# Total number of orders
Total_number_of_orders=sum(df['quantityorder'])
print('Total number of orders =',Total_number_of_orders)

Total number of orders = 99067

In [36]:
# Total Revenue Each Month
df_eachmonth = df.groupby('month_id')['sales'].sum().reset_index()
print("Total Revenue Each Month")
print(df_eachmonth)

Total Revenue Each Month
    month_id       sales
0          1   785874.44
1          2   810441.90
2          3   754501.39
3          4   669390.96
4          5   923972.56
5          6   454756.78
6          7   514875.97
7          8   659310.57
8          9   584724.27
9         10  1121215.22
10        11  2118885.67
11        12   634679.12

In [38]:
#Total units sold for each month
totalunits_eachmonth = df.groupby('month_id')['quantityorder'].sum().reset_index()
print("Total units sold for each month")
print(totalunits_eachmonth)

Total units sold for each month
    month_id  quantityorder
0          1           7997
1          2           7903
2          3           7585
3          4           6704
4          5           8992
5          6           4620
6          7           4899
7          8           6538
8          9           5681
9         10          10998
10        11          20857
11        12           6293

In [40]:
#Average price per unit for each month
pd.set_option("display.max_rows", None) # To view all rows
df_units=df.groupby(['month_id','product'])
avg_pricee=df_units['priceeach'].mean().reset_index()
print(avg_pricee)

    month_id           product  priceeach
0          1      Classic Cars  88.895000
1          1       Motorcycles  81.969167
2          1            Planes  76.437647
3          1             Ships  89.193889
4          1            Trains  75.375714
5          1  Trucks and Buses  86.541739
6          1      Vintage Cars  77.220806
7          2      Classic Cars  86.780548
8          2       Motorcycles  87.313824
9          2            Planes  82.909677
10         2             Ships  84.750000
11         2            Trains  71.165714
12         2  Trucks and Buses  87.250000
13         2      Vintage Cars  79.098158
14         3      Classic Cars  85.948030
15         3       Motorcycles  77.538333
16         3            Planes  77.664583
17         3             Ships  85.647273
18         3            Trains  76.478333
19         3  Trucks and Buses  84.462632
20         3      Vintage Cars  79.868421
21         4      Classic Cars  87.569091
22         4       Motorcycles  84.495312
23         4            Planes  81.709394
24         4             Ships  81.405455
25         4            Trains  69.463333
26         4  Trucks and Buses  90.550000
27         4      Vintage Cars  75.513056
28         5      Classic Cars  87.836860
29         5       Motorcycles  83.968214
30         5            Planes  81.942500
31         5             Ships  85.894444
32         5            Trains  71.186667
33         5  Trucks and Buses  88.016000
34         5      Vintage Cars  75.437000
35         6      Classic Cars  88.516176
36         6       Motorcycles  81.499286
37         6            Planes  80.890870
38         6             Ships  82.095294
39         6            Trains  79.986667
40         6  Trucks and Buses  86.166667
41         6      Vintage Cars  77.376000
42         7      Classic Cars  89.521724
43         7       Motorcycles  83.654737
44         7            Planes  82.427500
45         7             Ships  83.121111
46         7            Trains  73.816667
47         7  Trucks and Buses  87.840000
48         7      Vintage Cars  81.103636
49         8      Classic Cars  88.229538
50         8       Motorcycles  79.733871
51         8            Planes  81.149167
52         8             Ships  82.771111
53         8            Trains  74.766667
54         8  Trucks and Buses  87.906667
55         8      Vintage Cars  80.086875
56         9      Classic Cars  87.719333
57         9       Motorcycles  80.191429
58         9            Planes  84.229167
59         9             Ships  84.169333
60         9            Trains  69.983333
61         9  Trucks and Buses  88.686818
62         9      Vintage Cars  77.327143
63        10      Classic Cars  89.246429
64        10       Motorcycles  82.457813
65        10            Planes  84.316563
66        10             Ships  82.419630
67        10            Trains  72.294444
68        10  Trucks and Buses  87.576667
69        10      Vintage Cars  76.594861
70        11      Classic Cars  85.526073
71        11       Motorcycles  84.514571
72        11            Planes  82.303462
73        11             Ships  83.325625
74        11            Trains  80.677333
75        11  Trucks and Buses  88.461774
76        11      Vintage Cars  79.160305
77        12      Classic Cars  85.514262
78        12       Motorcycles  80.405333
79        12            Planes  83.192727
80        12             Ships  79.005000
81        12            Trains  85.753333
82        12  Trucks and Buses  86.255000
83        12      Vintage Cars  79.642250

In [47]:
###  top 5 cities with higest sails
df_top5sales = df.groupby('city')['sales'].sum().reset_index()
print("top 5 cities with higest sails")
print(df_top5sales.head(5).sort_values(by=['sales'], ascending=False))

top 5 cities with higest sails
        city      sales
3    Bergamo  137955.72
1  Allentown  122138.14
4     Bergen  111640.28
0    Aaarhus  100595.55
2  Barcelona   78411.86